<?xml version="1.0" encoding="utf-8" ?>

<EasyDev.ServicePool.Config>
  <Services>
    <Service Name="EmployeeService" Type="SQMS.Services.EmployeeService, SQMS.Services" />
    <Service Name="EquipmentService" Type="SQMS.Services.EquipmentService, SQMS.Services" />      
    <Service Name="ProductService" Type="SQMS.Services.ProductService, SQMS.Services" />
  </Services>
</EasyDev.ServicePool.Config>