<?xml version="1.0" encoding="utf-8" ?>

<EasyDev.Persistence.Config>
        <DataSources SchemaDir="Config\Schema" Default="SQLSERVER.DATASOURCE">
                <DataSource>
                        <Name>SQLSERVER.DATASOURCE</Name>
                        <ProviderType>System.Data.SqlClient</ProviderType>
                        <ConnectionString></ConnectionString>
                </DataSource>
        </DataSources>
</EasyDev.Persistence.Config>